body{
	background-image: url("../images/restaurant.jpeg");
	background-position: center top;
    background-size: 100% auto;
}
.container{
	background-color: white;
	margin: 0px auto;
}
#user-header{
	padding-left: 5%;
}
.background{
	background: white;
}
div ul{
	background: #FFC254;
}






